<div class="container-fluid footer bg-dark">

    <div class="container">
        <div class="row">
          <div class="col-sm">
            <h1>ZZounds</h1>
            <p>Face the music.</p>
          </div>
          <div class="col-sm">
            <p class="text-center">Copyright © 2022 ZZounds.com</p>
          </div>
          <div class="col-sm">
            <a href="https://www.facebook.com/" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="https://github.com/harishs-225" target="_blank"><i class="bi bi-github"></i></a>
            <a href="#" target="_blank"><i class="bi bi-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
   