<div class="container-fluid footer bg-dark">
    <div class="row">

        <div class="col-lg-6">
            <h1>ZZounds</h1>
            <p>Face the music.</p>
    

            <p class="text-sm text-gray-100 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200  md:mt-0 mb-50 md:mb-50 text-center dark:text-gray-400">Copyright © 2022 ZZounds.com</p>
    
        </div>
        <div class="col-lg-4 mt-2">
            <a href="https://www.facebook.com/" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="https://github.com/harishs-225" target="_blank"><i class="bi bi-github"></i></a>
            <a href="#" target="_blank"><i class="bi bi-instagram"></i></a>
            

        </div>
        
    </div>
    </div>
   