<div class="container-fluid" style="background-image:url('https://images.unsplash.com/photo-1561390713-b08f7fe46f58?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8bXVzaWNhbCUyMGluc3RydW1lbnQlMjBiYWNrZ3JvdW5kJTIwaW1hZ2V8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60');" >
  <div class="row">
      <div class="col-lg-4 pt-4" *ngFor="let music of musicaldata | filter:searchText">
          <div class="card" style="width: 18rem;">

           <img src="{{music.image1}}" class="card-img-top" alt="...">  
            <div class="card-body">
              <h5 class="card-title">{{music.name}}</h5>
              <p class="card-text">{{music.details}}</p>
              <p class="card-text">{{music.price}}</p>
              <a  (click)="goto(music.name, music.id)" class="btn btn-primary">Buy Now <i class="bi bi-bag"></i></a>


              


            </div>

      </div>
</div>



