<section
  class="header"
  style="background-image: url(https://images.unsplash.com/photo-1677844003343-1caedd837dd4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80);height: 100vh;"
>
   
    <div class="container py-4 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong bg-dark" style="border-radius: 1rem">
            <div class="card-body p-5 text-center" style="color: aliceblue;">
              <h3 class="mb-5">Sign Up</h3>
              <form>
                <div class="form-outline mb-4">
                  <input
                    name="name"
                    placeholder="Full Name"
                    [(ngModel)]="Name"
                    type="text"
                    class="form-control form-control-lg"
                    
                  />

                  <br>
                 

                  <input
                  name="email"
                  placeholder="Email"
                  [(ngModel)]="emailUp"
                  type="email"
                  class="form-control form-control-lg"
                  
                    
                  />

                  <br>
                  

                  <input
                  name="password"
                  placeholder="Password"
                  [(ngModel)]="passwordUp"
                  type="password"
                  class="form-control form-control-lg"
                  
                    
                  />

                  <br>
                  

                  <input
                  name="cpassword"
                  placeholder="Confirm Password"
                  [(ngModel)]="cpasswordUp"
                  type="password"
                  class="form-control form-control-lg"
                  
                    
                  />

                  <br>
                  
                </div>

                <button (click)="signUp()" class="btn btn-primary btn-lg btn-block" type="submit">
                  Signup
                </button>

                
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

</section>
