.btn{
   position: relative;
  left: 700px;  
  background-color:green;
}

.container{
    background-size: cover;
}
.btn:hover{
  color: antiquewhite;
}
.flex-box{
  display: flex;
  padding: 30px 30px;
  justify-content: center;
}
.h3{
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
  font-weight: bolder;
 font-style: italic;
}
.container p{
  font-size: medium;
  font-weight: bold;
}
.h4{
font-family: 'Times New Roman', Times, serif;
font-size: small;
font-weight: lighter;
}