<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid" style="background-image:url('https://images.unsplash.com/photo-1677844003343-1caedd837dd4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80'); height: 100vh;">
        <div class="login-box">
            <img src="https://cdn-icons-png.flaticon.com/512/5087/5087607.png">
                <h1>Login Here</h1>
                <div class="form-outline mb-4">
                    <input
                    name="emailIn"
                    placeholder="Email"
                    [(ngModel)]="emailIn"
                    id="email"
                    type="email"
                    class="form-control form-control-lg"
                    />
            
                  </div>
                  
    
                  <div class="form-outline mb-4">
                    <input
                    name="passwordIn"
                    placeholder="Password"
                    [(ngModel)]="passwordIn"
                    id="password"
                    type="password"
                    class="form-control form-control-lg"
                    />
            
                  </div>
    
                  <button (click)="login()"class="btn btn-primary btn-lg btn-block" type="submit">
                    Login
                  </button>
                   
                 
              </div>
              
                
                
                </div>
          


</body>
</html>
